<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome To Klayd</title>
    <style>
      {{cssContent}}
    </style>
  </head>

  <body>
    <div class='container'>
      <div class='reset_password'>
        <div class='logo'>
          <img src='https://iili.io/dE7ncCB.png' alt='logo' alt='image' />
        </div>
        <h2 class='heading' style='text-align: center;'>
          Forgot your password?
        </h2>
        <p class='paragraph'>
          You told us that you forgot your password. If you really did click
          below to reset your password.
        </p>

        <br />
        <br />
        <br />
        <a href='{{url}}' target='_blank' class='link_button'>Reset Password</a>
        <br />
        <br />
        <br />
        <br />

        <p class='paragraph'>
          If you didn't mean to reset your password, then you can just ignore
          this email, your password will not change.
        </p>
        <br />
        <br />
        <hr />
        <br />
        <img
          src='https://iili.io/dEl2RAx.png'
          style='width: 150px;
  margin: 2rem auto 0rem; display: block;object-fit: cover;'
        />
      </div>
    </div>
  </body>

</html>